<app-shared-estrutura-funcionalidade titulo="Heróis"
  subtitulo="Este módulo serve para realizar as operações pertinentes ao cadastro de Heróis. Para cadastrar um novo Heróis, clique no botão abaixo.">

  <div slot="tabela-conteudo">
    <div class="row">
      <div class="col-lg">
        <app-heroi-add (saved)="listaHerois()"></app-heroi-add>
      </div>
    </div>

    <div *ngIf="!herois.length">
      <app-shared-no-content msg="Desculpe. Nenhum herói encontrado"></app-shared-no-content>
    </div>

    <div class="row">
      <div *ngFor="let heroi of herois" class="col-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{heroi.nome}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{heroi.universo.descricao}} | </h6>
            <hr>
            <p class="card-text">
              <small *ngFor="let poder of heroi.poderes"><a
                  class='card-item-heroi-poder-descricao'>{{poder.descricao}}</a> | </small>
            </p>
            <p class="card-text">
              <small>{{heroi.situacao}}</small>
              <br>
              <small>Cadastrado em {{heroi.dataCadastro}}</small>
            </p>
            <p class="card-text">

            </p>

            <app-heroi-edit [heroi]="heroi" (edited)="listaHerois()"></app-heroi-edit>
            <app-heroi-situacao [heroi]="heroi" (situacaoAtualizada)="listaHerois()"></app-heroi-situacao>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-shared-estrutura-funcionalidade>
