<app-shared-bootstrap-modal [titulo]="titulo" [tituloBotao]="tituloBotao" [btnModalColor]="btnModalColor">
  <div slot="conteudo-modal">
    <form [formGroup]="heroiForm" class="form mt-4">
      <div class="input-group">
        <input type="hidden" class="form-control" [value]="heroiAux.id" formControlName="id">
        <input type="hidden" class="form-control" [value]="heroiAux.situacao" formControlName="situacao">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="basic-addon1" [value]="heroiAux.nome"
          formControlName="nome">
      </div>
      <div class="input-group mb-3">
        <select class="custom-select" placeholder="Selecione um Universo" formControlName="universo">
          <option *ngFor="let universo of universos" [value]="universo.id">{{universo.descricao}}</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <select class="custom-select" placeholder="Selecione um Poder" multiple formControlName="poderes">
          <option *ngFor="let poder of poderes" [value]="poder.id">{{poder.descricao}}</option>
        </select>
      </div>
    </form>
    <hr>
    <div align="right">
      <button type="button" [disabled]="!heroiForm.valid" class="btn btn-success block"
        (click)="confirmSubmit(heroiForm.value)">
        Confirmar alterações</button>
    </div>
  </div>
</app-shared-bootstrap-modal>
